body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 740px;
}

.widgets{
    width: 600px;
    height: 200px;
    background-color: cornflowerblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.widgets3 {
    width: 600px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
}

.big_widgets{
    width: 30%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: tomato;
}

.bigger_widgets{
    width: 30%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: tomato;
}

.huge_widgets{
    width: 30%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: tomato;
}
.contact{
    width: 600px;
    height: 300px;
    background-color: crimson;
    display: flex;
    align-items: center;
    justify-content: center;
}